<section class="section">
  <div class="container">
    <h2>Weiterführende Informationen</h2>
    <p>Vertiefen Sie das Thema Sicherheit oder informieren Sie sich über unsere Leistungen in anderen Bereichen.</p>
    <ul class="related-links">
      <li><a href="/#leistungen">Preisübersicht &amp; Leistungen</a></li>
      <li><a href="/#notfall">Tipps für den Notfall</a></li>
      <li><a href="/#kontakt">Kontakt &amp; Terminvereinbarung</a></li>
      <li><a href="/#region">Einbruchschutz in der Oberpfalz</a></li>
      <li><a href="mailto:kontakt@schluesseldienst-oberpfalz.de">Schriftliche Anfrage senden</a></li>
      <li><a href="https://wa.me/4917699044112">WhatsApp Beratung starten</a></li>
      <li><a href="tel:+4917699044112">Direkt zum 24h Notruf</a></li>
      <li><a href="/impressum">Impressum &amp; Pflichtangaben</a></li>
    </ul>
  </div>
</section>
