<section class="section">
  <div class="container">
    <h2 data-i18n="relatedlinks.h2">Weiterführende Informationen</h2>
    <p data-i18n="relatedlinks.p">Vertiefen Sie das Thema Sicherheit oder informieren Sie sich über unsere Leistungen in anderen Bereichen.</p>
    <ul class="related-links">
      <li><a href="/#leistungen" data-i18n="relatedlinks.link1">Preisübersicht &amp; Leistungen</a></li>
      <li><a href="/#notfall" data-i18n="relatedlinks.link2">Tipps für den Notfall</a></li>
      <li><a href="/#kontakt" data-i18n="relatedlinks.link3">Kontakt &amp; Terminvereinbarung</a></li>
      <li><a href="/#region" data-i18n="relatedlinks.link4">Einbruchschutz in der Oberpfalz</a></li>
      <li><a href="mailto:kontakt@schluesseldienst-oberpfalz.de" data-i18n="relatedlinks.link5">Schriftliche Anfrage senden</a></li>
      <li><a href="https://wa.me/4915153639881" data-i18n="relatedlinks.link6">WhatsApp Beratung starten</a></li>
      <li><a href="tel:+4915153639881" data-i18n="relatedlinks.link7">Direkt zum 24h Notruf</a></li>
      <li><a href="/impressum" data-i18n="relatedlinks.link8">Impressum &amp; Pflichtangaben</a></li>
    </ul>
  </div>
</section>
