---
import {
  serviceAreaImageFour,
  serviceAreaImageOne,
  serviceAreaImageThree,
  serviceAreaImageTwo,
} from "../assets/siteImages";
---

<section id="servicegebiete" class="section section--light">
  <div class="container split-grid">
    <div>
      <h2 data-i18n="areas.h2">Unterwegs in der gesamten Oberpfalz</h2>
      <p data-i18n="areas.p">
        Unsere Einsatzzentrale in Regensburg koordiniert Monteure in allen Landkreisen der Oberpfalz. So sind wir schnell bei Ihnen – egal ob in
        der Stadt oder auf dem Land. Nachfolgend finden Sie eine Auswahl unserer häufigsten Einsatzorte.
      </p>
      <ul class="service-areas__list">
        <li>Regensburg</li>
        <li>Amberg</li>
        <li>Weiden i.d.OPf.</li>
        <li>Schwandorf</li>
        <li>Cham</li>
        <li>Neumarkt i.d.OPf.</li>
        <li>Sulzbach-Rosenberg</li>
        <li>Burglengenfeld</li>
        <li>Kelheim</li>
        <li>Nabburg</li>
      </ul>
    </div>
    <div class="service-areas__gallery">
      <img
        class="service-areas__image service-areas__image--neunkirchen"
        src={serviceAreaImageOne.src}
        alt="Schluesseldienst in Neunkirchen bei Weiden"
        loading="lazy"
      />
      <img
        class="service-areas__image service-areas__image--neustadt"
        src={serviceAreaImageTwo.src}
        alt="Handwerker beim Arbeiten an einer Tür"
        loading="lazy"
      />
      <img
        class="service-areas__image service-areas__image--weiden"
        src={serviceAreaImageThree.src}
        alt="Schluesseldienst in Weiden i.d.OPf."
        loading="lazy"
      />
      <img
        class="service-areas__image service-areas__image--altenstadt"
        src={serviceAreaImageFour.src}
        alt="Schlüssel und Schloss auf einem Holztisch"
        loading="lazy"
      />
    </div>
  </div>
</section>
